body {
  width: 1200px;
  margin: auto;
}

#mainContent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 65px 20px 50px 50px 50px 700px 200px 250px;
  grid-template-columns: 75% 25%;
}

#header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: aquamarine;
  padding: 5px;
}

#topDescription {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: burlywood;
  padding-left: 15px;
}

#mainimage {
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: bisque;
  background-size: cover;
  overflow: hidden;
  padding: 20px;
}

#bottomDescription {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 20px;
  background-color: burlywood;
}

#dateFormContainer {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: burlywood;
  display: flex;
  padding: 20px;
}

#neoList {
  grid-row-start: 6;
  grid-row-end: 8;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color:cadetblue;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

#watchList {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 20px;
  background-color: grey;
}

#logo {
  width: 50px;
  height: 50px;
  background-image: 'http://i.imgur.com/NSOcrhj.png';
}

.neoCard {
  width: 100%;
  min-height: 50px;
  max-height: 500px;
  height: 100px;
  padding: 5px;
  overflow-y: auto;
  border: 1px solid black;
  background-color: gray;
}

